<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>杂货市场 - 南山网</title>
    <link rel="stylesheet" media="all" href="../../css/font.css" />
    <link rel="stylesheet" media="all" href="../../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="service index">
    <ul class="top pd10 bg-white">
        <li class="logo f18">南山网</li>
        <li>
            <a class="wrap-block" href="">
                <i class="iconfont icon-36"></i>
            </a>
        </li>
        <li class="search-container relative">
            <p class="f12">
                <i class="iconfont icon-sousuo f12"></i>
                <span>搜索</span>
            </p>
        </li>
    </ul>
    <div class="divider divider5"></div>
    <!-- MAIN -->
    <section class="main">
        <!-- SLIDE -->
        <section class="slider relative">
            <ul class="slider-content">
                <li><img src="../../images/slider.gif"></li>
                <li><img src="../../images/slider.gif"></li>
                <li><img src="../../images/slider.gif"></li>
                <li><img src="../../images/slider.gif"></li>
                <div class="clear"></div>
            </ul>
            <ul class="slider-indicators">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li class="selected"></li>
            </ul>
        </section>
        <section class="sect sect-4">
            <p class="sect-title pd10"><i class="iconfont icon-fenlei"></i><span>&nbsp;分类</span></p>
            <ul class="sect-cnt">
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-chuju red"></i>
                    </p>
                    <p class="sect-cnt-name">厨具</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-canju orange"></i>
                    </p>
                    <p class="sect-cnt-name">餐具</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-taoci green"></i>
                    </p>
                    <p class="sect-cnt-name">陶瓷用品</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-boliqiju purple"></i>
                    </p>
                    <p class="sect-cnt-name">玻璃器皿</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-shuliao cyan"></i>
                    </p>
                    <p class="sect-cnt-name">塑料器皿</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-qingjie2 red"></i>
                    </p>
                    <p class="sect-cnt-name">清洁用具</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-qingjie2 red"></i>
                    </p>
                    <p class="sect-cnt-name">五金配件</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-qita1 red"></i>
                    </p>
                    <p class="sect-cnt-name">其他</p>
                </li>
                <div class="clear"></div>
            </ul>
        </section>
        <div class="divider"></div>
        <section class="widget widget-list">
            <header>
                <h3 class="mg0 f14 pd10 relative">
                    <i class="iconfont icon-2"></i>
                    <span>附近店铺</span>
                    <a class="widget-more f12" href="#">更多></a>
                </h3>
            </header>
            <ul>
                <li class="widget-cnt">
                    <section>
                        <div class="widget-list-img">
                            <a href="view/goods/detail.html"><img src="../../images/pic.png" alt=""></a>
                        </div>
                        <div></div>
                        <div class="widget-list-info relative">
                            <h3 class="f14">张三<span class="fr red f16">
                                <i class="iconfont icon-shixing"></i>
                                <i class="iconfont icon-shixing"></i>
                                <i class="iconfont icon-shixing"></i>
                                <i class="iconfont icon-shixing"></i>
                                <i class="iconfont icon-banxing"></i>
                                </span></h3>
                            <p class="widget-seller f12"><span class="red">金牛区</span></p>
                            <p class="widget-desc f12 gray">水电安装/家电维修</p>
                            <span class="widget-btn widget-btn-text row block absolute">
                                详细信息
                            </span>
                        </div>
                    </section>
                </li>
                <li class="widget-cnt">
                    <section>
                        <div class="widget-list-img">
                            <img src="../../images/pic.png" alt="">
                        </div>
                        <div></div>
                        <div class="widget-list-info relative">
                            <h3 class="f14">李四<span class="fr red">
                                <i class="iconfont icon-shixing"></i>
                                <i class="iconfont icon-shixing"></i>
                                <i class="iconfont icon-shixing"></i>
                                <i class="iconfont icon-shixing"></i>
                                <i class="iconfont icon-kongxing"></i>
                            </span></h3>
                            <p class="widget-seller f12"><span class="red">锦江区</span></p>
                            <p class="widget-desc f12 gray">水电安装/家电维修</p>
                            <span class="widget-btn widget-btn-text row block absolute">
                                详细信息
                            </span>
                        </div>
                    </section>
                </li>
                <li class="widget-cnt">
                    <section>
                        <div class="widget-list-img">
                            <img src="../../images/pic.png" alt="">
                        </div>
                        <div></div>
                        <div class="widget-list-info relative">
                            <h3 class="f14">王五<span class="fr red">
                                <i class="iconfont icon-shixing"></i>
                                <i class="iconfont icon-shixing"></i>
                                <i class="iconfont icon-shixing"></i>
                                <i class="iconfont icon-banxing"></i>
                                <i class="iconfont icon-kongxing"></i>
                            </span></h3>
                            <p class="widget-seller f12"><span class="red">锦江区</span></p>
                            <p class="widget-desc f12 gray">开锁换锁</p>
                            <span class="widget-btn widget-btn-text row block absolute">
                                详细信息
                            </span>
                        </div>
                    </section>
                </li>
                <div class="clear"></div>
            </ul>
        </section>
        <section class="widget widget-list">
            <header>
                <h3 class="mg0 f14 pd10 relative">
                    <i class="iconfont icon-huo"></i>
                    <span>热门商品</span>
                    <a class="widget-more f12" href="#">更多></a>
                </h3>
            </header>
            <ul>
                <li class="widget-cnt">
                    <section>
                        <div class="widget-list-img">
                            <a href="view/goods/detail.html"><img src="../../images/rmd.jpg" alt=""></a>
                        </div>
                        <div></div>
                        <div class="widget-list-info relative">
                            <h3 class="f14">哇哈哈<em class="gray f12"> / 500g</em><span class="fr red f16">￥200</span></h3>
                            <p class="widget-seller f12"><span class="red">自营</span></p>
                            <p class="widget-desc f12 gray">描述或的合计为降低地价</p>
                            <span class="widget-cart widget-btn row block absolute">
                                <i class="iconfont icon-gouwuchetianjia f24 red"></i>
                            </span>
                        </div>
                    </section>
                </li>
                <li class="widget-cnt">
                    <section>
                        <div class="widget-list-img">
                            <img src="../../images/rmd.jpg" alt="">
                        </div>
                        <div></div>
                        <div class="widget-list-info relative">
                            <h3 class="f14">哇哈哈<em class="gray f12"> / 500g</em><span class="fr red f16">￥200</span></h3>
                            <p class="widget-seller f12"><span class="red">自营</span></p>
                            <p class="widget-desc f12 gray">描述或的合计为降低地价</p>
                            <span class="widget-cart widget-btn row block absolute">
                                <i class="iconfont icon-gouwuchetianjia f24 red"></i>
                            </span>
                        </div>
                    </section>
                </li>
                <li class="widget-cnt">
                    <section>
                        <div class="widget-list-img">
                            <img src="../../images/rmd.jpg" alt="">
                        </div>
                        <div></div>
                        <div class="widget-list-info relative">
                            <h3 class="f14">哇哈哈<em class="gray f12"> / 500g</em><span class="fr red f16">￥200</span></h3>
                            <p class="widget-seller f12"><span class="red">自营</span></p>
                            <p class="widget-desc f12 gray">描述或的合计为降低地价</p>
                            <span class="widget-cart widget-btn row block absolute">
                                <i class="iconfont icon-gouwuchetianjia f24 red"></i>
                            </span>
                        </div>
                    </section>
                </li>
                <li class="widget-cnt">
                    <section>
                        <div class="widget-list-img">
                            <img src="../../images/rmd.jpg" alt="">
                        </div>
                        <div></div>
                        <div class="widget-list-info relative">
                            <h3 class="f14">哇哈哈<em class="gray f12"> / 500g</em><span class="fr red f16">￥200</span></h3>
                            <p class="widget-seller f12"><span class="red">自营</span></p>
                            <p class="widget-desc f12 gray">描述或的合计为降低地价</p>
                            <span class="widget-cart widget-btn row block absolute">
                                <i class="iconfont icon-gouwuchetianjia f24 red"></i>
                            </span>
                        </div>
                    </section>
                </li>
                <div class="clear"></div>
            </ul>
        </section>
    </section>
    <div class="divider divider5"></div>
    <!-- ENDS MAIN -->
    <footer class="footer pd10">
        <ul>
            <li>
                <a class="selected" href="../../index.html">
                    <p><i class="iconfont icon-shouye"></i></p>
                    <p><span>首页</span></p>
                </a>
            </li>
            <li>
                <a href="">
                    <p><i class="iconfont icon-fenlei"></i></p>
                    <p><span>分类</span></p>
                </a>
            </li>
            <li>
                <a href="">
                    <p><i class="iconfont icon-gouwuche"></i></p>
                    <p><span>购物车</span></p>
                </a>
            </li>
            <li>
                <a href="../user/zone.html">
                    <p><i class="iconfont icon-gerenzhongxin"></i></p>
                    <p><span>个人中心</span></p>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>