<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>首页 - 南山网</title>
    <link rel="stylesheet" media="all" href="css/font.css" />
    <link rel="stylesheet" media="all" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="index">
    <!-- MAIN -->
    <section class="main">
        <ul class="top pd10 bg-white">
            <li class="logo f18">南山网</li>
            <li>
                <a class="wrap-block" href="">
                    <i class="iconfont icon-36"></i>
                </a>
            </li>
            <li class="search-container relative">
                <p class="f12">
                    <i class="iconfont icon-sousuo f12"></i>
                    <span>搜索</span>
                </p>
            </li>
        </ul>
        <div class="divider divider5"></div>

        <!-- SLIDE -->
        <section class="slider relative">
            <ul class="slider-content">
                <li><img src="images/slider.gif"></li>
                <li><img src="images/slider.gif"></li>
                <li><img src="images/slider.gif"></li>
                <li><img src="images/slider.gif"></li>
                <div class="clear"></div>
            </ul>
            <ul class="slider-indicators">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li class="selected"></li>
            </ul>
        </section>
        <!-- NAV -->
        <nav class="nav">
            <ul>
                <li>
                    <a href="view/goods/index.html">
                        <p class="blue"><i class="iconfont icon-nongchanpin f24"></i></p>
                        <p><span>农副产品</span></p>
                    </a>
                    <a href="#">
                        <p class="red"><i class="iconfont icon-nongchanpincaigou f24"></i></p>
                        <p><span>采购中心</span></p>
                    </a>
                    <a href="view/service/index.html">
                        <p class="purple"><i class="iconfont icon-fuwu f24"></i></p>
                        <p><span>服务中心</span></p>
                    </a>
                    <a href="view/groceries/index.html">
                        <p class="orange"><i class="iconfont icon-riyongp f24"></i></p>
                        <p><span>杂货市场</span></p>
                    </a>
                </li>
                <li>
                    <a href="#"></a>
                    <a href="view/menu/index.html">
                        <p class="red"><i class="iconfont icon-caipu f24"></i></p>
                        <p><span>家常菜谱</span></p>
                    </a>
                    <a href="#">
                        <p class="cyan"><i class="iconfont icon-shichang f24"></i></p>
                        <p><span>集市入口</span></p>
                    </a>
                    <a href="#"></a>
                </li>
                <div class="clear"></div>
            </ul>
        </nav>
        <div class="divider"></div>
        <!-- advertisement -->
        <div class="ad">
            <a class="wrap-block" href="">
                <img src="images/slider.gif" alt="">
            </a>
        </div>
        <div class="divider"></div>
        <!-- 列表式 -->
        <section class="widget widget-list">
            <header>
                <h3 class="mg0 f14 pd10 relative">
                    <i class="iconfont icon-jianguo"></i>
                    <span>美味坚果</span>
                    <a class="widget-more f12" href="#">更多></a>
                </h3>
            </header>
            <ul>
                <li class="widget-cnt">
                    <section>
                        <div class="widget-list-img">
                            <a href="view/goods/detail.html"><img src="images/rmd.jpg" alt=""></a>
                        </div>
                        <div></div>
                        <div class="widget-list-info relative">
                            <h3 class="f14">哇哈哈<em class="gray f12"> / 500g</em><span class="fr red f16">￥200</span></h3>
                            <p class="widget-seller f12"><span class="red">自营</span></p>
                            <p class="widget-desc f12 gray">描述或的合计为降低地价</p>
                            <span class="widget-cart widget-btn row block absolute">
                                <i class="iconfont icon-gouwuchetianjia f24 red"></i>
                            </span>
                        </div>
                    </section>
                </li>
                <li class="widget-cnt">
                    <section>
                        <div class="widget-list-img">
                            <img src="images/rmd.jpg" alt="">
                        </div>
                        <div></div>
                        <div class="widget-list-info relative">
                            <h3 class="f14">哇哈哈<em class="gray f12"> / 500g</em><span class="fr red f16">￥200</span></h3>
                            <p class="widget-seller f12"><span class="red">自营</span></p>
                            <p class="widget-desc f12 gray">描述或的合计为降低地价</p>
                            <span class="widget-cart widget-btn row block absolute">
                                <i class="iconfont icon-gouwuchetianjia f24 red"></i>
                            </span>
                        </div>
                    </section>
                </li>
                <div class="clear"></div>
            </ul>
        </section>
        <div class="divider"></div>
        <!--卡片式-->
        <section class="widget widget-card">
            <header>
                <h3 class="mg0 f14 pd10 relative">
                    <i class="iconfont icon-cuxiao"></i>
                    <span>促销活动</span>
                    <a class="widget-more f12" href="#">更多></a>
                </h3>
            </header>
            <ul>
                <li>
                    <p class="widget-cnt">
                        <a class="wrap-block relative" href="#">
                            <img src="images/sale.gif" alt="">
                            <span class="widget-card-title f12">大促销</span>
                        </a>
                    </p>
                    <p class="widget-cnt">
                        <a class="wrap-block relative" href="#"><img src="images/sale.gif" alt="">
                            <span class="widget-card-title f12">大促销</span></a>
                    </p>
                    <div class="clear"></div>
                </li>
                <li>
                    <p class="widget-cnt">
                        <a class="wrap-block relative" href="#"><img src="images/sale.gif" alt="">
                            <span class="widget-card-title f12">大促销</span></a>
                    </p>
                    <p class="widget-cnt">
                        <a class="wrap-block relative" href="#"><img src="images/sale.gif" alt="">
                            <span class="widget-card-title f12">大促销</span></a>
                    </p>
                    <div class="clear"></div>
                </li>
                <div class="clear"></div>
            </ul>
        </section>
        <!-- 矩阵式 -->
        <section class="widget widget-bulk">
            <header>
                <h3 class="mg0 f14 pd10 relative">
                    <i class="iconfont icon-shucai"></i>
                    <span>新鲜蔬菜</span>
                    <a class="widget-more f12" href="#">更多></a>
                </h3>
            </header>
            <ul>
                <li>
                    <div class="widget-cnt">
                        <div>
                            <a class="wrap-block relative" href="#">
                                <img src="images/rmd.jpg" alt="">
                            </a>
                            <p class="widget-bulk-info relative">
                                <span class="f12">玉米/500g</span>
                                <span>
                                    <em class="widget-price f16 red">￥100</em>
                                    <em class="widget-price f12 gray">￥200</em>
                                </span>
                                <span class="widget-cart">
                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="widget-cnt">
                        <div>
                            <a class="wrap-block relative" href="#">
                                <img src="images/rmd.jpg" alt="">
                            </a>
                            <p class="widget-bulk-info relative">
                                <span class="f12">来自新西兰的玉米/500g</span>
                                <span>
                                    <em class="widget-price f16 red">￥100</em>
                                    <em class="widget-price f12 gray">￥200</em>
                                </span>
                                <span class="widget-cart">
                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="widget-cnt">
                        <div>
                            <a class="wrap-block relative" href="#">
                                <img src="images/rmd.jpg" alt="">
                            </a>
                            <p class="widget-bulk-info relative">
                                <span class="f12">玉米/500g</span>
                                <span>
                                    <em class="widget-price f16 red">￥100</em>
                                    <em class="widget-price f12 gray">￥200</em>
                                </span>
                                <span class="widget-cart">
                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <aside class="clear"></aside>
                </li>
                <li>
                    <div class="widget-cnt">
                        <div>
                            <a class="wrap-block relative" href="#">
                                <img src="images/rmd.jpg" alt="">
                            </a>
                            <p class="widget-bulk-info relative">
                                <span class="f12">来自新西兰的玉米/500g</span>
                                <span>
                                    <em class="widget-price f16 red">￥100</em>
                                    <em class="widget-price f12 gray">￥200</em>
                                </span>
                                <span class="widget-cart">
                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="widget-cnt">
                        <div>
                            <a class="wrap-block relative" href="#">
                                <img src="images/rmd.jpg" alt="">
                            </a>
                            <p class="widget-bulk-info relative">
                                <span class="f12">玉米/500g</span>
                                <span>
                                    <em class="widget-price f16 red">￥100</em>
                                    <em class="widget-price f12 gray">￥200</em>
                                </span>
                                <span class="widget-cart">
                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="widget-cnt">
                        <div>
                            <a class="wrap-block relative" href="#">
                                <img src="images/rmd.jpg" alt="">
                            </a>
                            <p class="widget-bulk-info relative">
                                <span class="f12">来自新西兰的玉米/500g</span>
                                <span>
                                    <em class="widget-price f16 red">￥100</em>
                                    <em class="widget-price f12 gray">￥200</em>
                                </span>
                                <span class="widget-cart">
                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <aside class="clear"></aside>
                </li>
                <div class="clear"></div>
            </ul>
        </section>

        <div class="divider"></div>
        <div class="divider divider5"></div>
        <!-- ENDS MAIN -->
        <footer class="footer pd10">
            <ul>
                <li>
                    <a class="selected" href="">
                        <p><i class="iconfont icon-shouye"></i></p>
                        <p><span>首页</span></p>
                    </a>
                </li>
                <li>
                    <a href="view/goods/type.html">
                        <p><i class="iconfont icon-fenlei"></i></p>
                        <p><span>分类</span></p>
                    </a>
                </li>
                <li>
                    <a href="view/cart.html">
                        <p><i class="iconfont icon-gouwuche"></i></p>
                        <p><span>购物车</span></p>
                    </a>
                </li>
                <li>
                    <a href="view/user/zone.html">
                        <p><i class="iconfont icon-gerenzhongxin"></i></p>
                        <p><span>个人中心</span></p>
                    </a>
                </li>
            </ul>
        </footer>
    </section>
</body>

</html>