<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>商品详情页 - 南山网</title>
    <link rel="stylesheet" media="all" href="../../css/font.css" />
    <link rel="stylesheet" media="all" href="../../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="category">
    <ul class="top pd10 bg-white">
        <li class="back"><i class="iconfont icon-xiangzuojiantou f18"></i></li>
        <li>
            <a class="wrap-block" href="">
                <i class="iconfont icon-others"></i>
            </a>
        </li>
        <li class="search-container relative">
            <p class="f12">
                <i class="iconfont icon-sousuo f12"></i>
                <span>搜索</span>
            </p>
        </li>
    </ul>

    <!-- MAIN -->
    <section class="main">
        <ul class="category-left fl">
            <li>
                <p><i class="iconfont icon-huo"></i>热门分类</p>
                <em></em>
            </li>
            <li>
                <p><i class="iconfont icon-shuiguo"></i>水&emsp;&emsp;果</p>
                <em></em>
            </li>
            <li class="selected">
                <p><i class="iconfont icon-shucai"></i>蔬&emsp;&emsp;菜</p>
                <em></em>
            </li>
            <li>
                <p><i class="iconfont icon-roulei"></i>肉&emsp;&emsp;禽</p>
                <em></em>
            </li>
            <li>
                <p><i class="iconfont icon-shuichanhaixian"></i>水&emsp;&emsp;产</p>
                <em></em>
            </li>
            <li>
                <p><i class="iconfont icon-shuichanhaixian"></i>粮油调料</p>
                <em></em>
            </li>
            <li>
                <p><i class="iconfont icon-jianguo"></i>休闲食品</p>
                <em></em>
            </li>
            <li>
                <p><i class="iconfont icon-shuichanhaixian"></i>手工制品</p>
                <em></em>
            </li>
            <li>
                <p><i class="iconfont icon-hua"></i>鲜&emsp;&emsp;花</p>
                <em></em>
            </li>
            <li>
                <p><i class="iconfont icon-yekong"></i>茶&emsp;&emsp;叶</p>
                <em></em>
            </li>
            <li>
                <p><i class="iconfont icon-shuichanhaixian"></i>糕&emsp;&emsp;点</p>
                <em></em>
            </li>
        </ul>
        <div class="category-right fr"></div>
        <ul class="category-center">
            <li>
                <div>
                    <p>
                        <i class="iconfont icon-shucai"></i>
                    </p>
                    <p>瓜茄果实类</p>
                </div>
            </li>
            <li>
                <div>
                    <p>
                        <i class="iconfont icon-shucai"></i>
                    </p>
                    <p>根茎类</p>
                </div>
            </li>
            <li>
                <div>
                    <p>
                        <i class="iconfont icon-shucai"></i>
                    </p>
                    <p>绿叶类</p>
                </div>
            </li>
            <li>
                <div>
                    <p>
                        <i class="iconfont icon-shucai"></i>
                    </p>
                    <p>食用菌类</p>
                </div>
            </li>
            <li>
                <div>
                    <p>
                        <i class="iconfont icon-shucai"></i>
                    </p>
                    <p>有机瓜果实类</p>
                </div>
            </li>
            <li>
                <div>
                    <p>
                        <i class="iconfont icon-shucai"></i>
                    </p>
                    <p>调味类</p>
                </div>
            </li>
            <li>
                <div>
                    <p>
                        <i class="iconfont icon-shucai"></i>
                    </p>
                    <p>果实类</p>
                </div>
            </li>
            <li>
                <div>
                    <p>
                        <i class="iconfont icon-shucai"></i>
                    </p>
                    <p>有机根茎类</p>
                </div>
            </li>
            <li>
                <div>
                    <p>
                        <i class="iconfont icon-shucai"></i>
                    </p>
                    <p>有机绿叶类</p>
                </div>
            </li>
            <li>
                <div>
                    <p>
                        <i class="iconfont icon-shucai"></i>
                    </p>
                    <p>豆类</p>
                </div>
            </li>
        </ul>
    </section>
    <!-- ENDS MAIN -->

</body>

</html>