<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>商品详情页 - 南山网</title>
    <link rel="stylesheet" media="all" href="../../css/font.css" />
    <link rel="stylesheet" media="all" href="../../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="detail goods">
    <ul class="top pd10 bg-white">
        <li class="back"><i class="iconfont icon-xiangzuojiantou f18"></i></li>
        <li>
            <a class="wrap-block" href="">
                <i class="iconfont icon-others"></i>
            </a>
        </li>
        <li class="title">
            圣诞树大户大叔的宿舍的
        </li>
    </ul>
    <!-- SLIDE -->
    <section class="slider rtive">
        <ul class="slider-content">
            <li><img src="../../images/detail_0.jpg"></li>
            <li><img src="../../images/detail_1.jpg"></li>
            <li><img src="../../images/detail_2.jpg"></li>
            <li><img src="../../images/detail_3.jpg"></li>
            <li><img src="../../images/detail_2.jpg"></li>
            <div class="clear"></div>
        </ul>
        <ul class="slider-indicators">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li class="selected"></li>
        </ul>
    </section>
    <!-- MAIN -->
    <section class="main">
        <section class="header pd10-20 rtive">
            <h1 class="mg0 f18">
                华秧安岳黄柠檬新鲜水果二三级皮薄柠檬切片泡茶榨汁酸味十足4斤
            </h1>
            <div class="share abte">
                <p><i class="iconfont icon-fenxiang f24"></i></p>
                <p class="f12">分享</p>
            </div>
            <div class="price">
                <p class="f24"><i class="f16 orange">￥</i><span class="orange">250</span></p>
                <p class="gray f12"><i>价格</i><span class="through">￥1250</span></p>
            </div>
            <ul class="info gray f12">
                <li class="fl">快递:￥0</li>
                <li class="fl">月销量:100</li>
                <li class="fr">遂宁</li>
                <div class="clear"></div>
            </ul>
        </section>
        <ul class="service f12">
            <li class="fl"><i class="iconfont icon-roundcheck red"></i> 坏单包退</li>
            <li class="fl"><i class="iconfont icon-roundcheck red"></i> 正品保证</li>
            <li class="fr"><i class="iconfont icon-xiangyoujiantou"></i></li>
            <div class="clear"></div>
        </ul>
        <ul class="sales f12 rtive">
            <li class="fl">
                <p><span class="type red">促销</span><span class="cnt">nisdedede</span></p>
                <p><span class="type red">积分</span><span class="cnt">sdsdsds</span></p>
            </li>
            <li class="abte">
                <i class="iconfont icon-xiangyoujiantou"></i>
            </li>
            <div class="clear"></div>
        </ul>
        <div class="divider"></div>
        <ul class="addr f12">
            <li class="fl black">配送至：滨江区</li>
            <li class="fr"><i class="iconfont icon-xiangyoujiantou"></i></li>
            <div class="clear"></div>
        </ul>
        <div class="divider"></div>
        <!--评价-->
        <section class="appraise pd10-20">
            <h4 class="f14">商品评价(100)</h4>
            <ul class="appraise-tags f10 gray">
                <li>口感不错(43)</li>
                <li>味道不错(43)</li>
                <li>新鲜(43)</li>
                <li class="selected">快递不错(43)</li>
                <li class="bad">口感一般(43)</li>
                <div class="clear more">
                    <i class="iconfont icon-xiangxiajiantou"></i>
                </div>
            </ul>
            <article class="f12">
                <header>
                    <span class="avatar block fl">
                        <img class="img" src="../../images/avatar.gif" alt="">
                    </span>
                    <span class="username block fl">原**此</span>
                    <div class="clear"></div>
                </header>
                <p class="text-elli pd5-0">收到了花，比我想象中的还美。好漂亮，再买几朵。客服服务态度很好，五星好评。收到了花，比我想象中的还美。好漂亮，再买几朵。客服服务态度很好，五星好评。收到了花，比我想象中的还美。好漂亮，再买几朵。客服服务态度很好，五星好评。</p>
                <ul class="appraise-imgs">
                    <li><img src="../../images/detail_3.jpg" alt=""></li>
                    <li><img src="../../images/detail_3.jpg" alt=""></li>
                    <li><img src="../../images/detail_3.jpg" alt=""></li>
                    <li><img src="../../images/detail_3.jpg" alt=""></li>
                </ul>
                <footer class="f10 light-gray pd5-0">
                    <span>2016年12月13日 00:06</span> &emsp;
                    <span>购买数量: 2</span>
                </footer>
            </article>
            <p class="appraise-more pd20-0"><span class="pd5-10">查看全部评价</span></p>
        </section>
        <div class="divider"></div>
        <!--店家-->
        <section class="shop pd10-20">
            <header>
                <div class="shop-logo fl">
                    <img src="../../images/detail_3.jpg" alt="">
                </div>
                <div class="shop-name fl">
                    <p class="f16">伤不起水果店</p>
                    <p class="f12 red">自营</p>
                </div>
                <div class="clear"></div>
            </header>
            <ul class="shop-cnt">
                <li class="pd10-0">
                    <div>
                        <p class="f20">42</p>
                        <p class="f12 gray">全部商品</p>
                    </div>
                </li>
                <li class="pd10-0">
                    <div>
                        <p class="f20">1.2万</p>
                        <p class="f12 gray">关注人数</p>
                    </div>
                </li>
                <li></li>
            </ul>
            <ul class="shop-more">
                <li><span class="pd5-10">查看分类</span></li>
                <li><span class="pd5-10">进店看看</span></li>
            </ul>
        </section>
        <div class="divider"></div>
        <!--商品详情-->
        <section class="goods-info">
            <ul class="info-tab">
                <li class="selected">
                    <span class="block">图文详情</span>
                </li>
                <li>
                    <span class="block">产品参数</span>
                </li>
                <li>
                    <span class="block">店铺推荐</span>
                </li>
            </ul>
            <ul class="info-cnt">
                <!--图文详情-->
                <li class="">
                    <div class="pd5-0"><img src="../../images/goods_info.jpg" alt=""></div>
                    <div class="divider"></div>
                    <div class="info-rmd">
                        <section class="widget widget-bulk widget-bulk-two">
                            <header>
                                <h3 class="mg0 f14 pd10 rtive">
                                    <i class="iconfont icon-yanjing"></i>
                                    <span>看了又看</span>
                                </h3>
                            </header>
                            <ul>
                                <li>
                                    <div class="widget-cnt">
                                        <div>
                                            <a class="wrap-block rtive" href="#">
                                                <img src="../../images/rmd.jpg" alt="">
                                            </a>
                                            <p class="widget-bulk-info rtive">
                                                <span class="f12">玉米/500g</span>
                                                <span>
                                                    <em class="widget-price f16 red">￥100</em>
                                                    <em class="widget-price f12 gray">￥200</em>
                                                </span>
                                                <span class="widget-cart">
                                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="widget-cnt">
                                        <div>
                                            <a class="wrap-block rtive" href="#">
                                                <img src="../../images/rmd.jpg" alt="">
                                            </a>
                                            <p class="widget-bulk-info rtive">
                                                <span class="f12">来自新西兰的玉米/500g</span>
                                                <span>
                                                    <em class="widget-price f16 red">￥100</em>
                                                    <em class="widget-price f12 gray">￥200</em>
                                                </span>
                                                <span class="widget-cart">
                                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <aside class="clear"></aside>
                                </li>
                                <li>
                                    <div class="widget-cnt">
                                        <div>
                                            <a class="wrap-block rtive" href="#">
                                                <img src="../../images/rmd.jpg" alt="">
                                            </a>
                                            <p class="widget-bulk-info rtive">
                                                <span class="f12">来自新西兰的玉米/500g</span>
                                                <span>
                                                    <em class="widget-price f16 red">￥100</em>
                                                    <em class="widget-price f12 gray">￥200</em>
                                                </span>
                                                <span class="widget-cart">
                                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="widget-cnt">
                                        <div>
                                            <a class="wrap-block rtive" href="#">
                                                <img src="../../images/rmd.jpg" alt="">
                                            </a>
                                            <p class="widget-bulk-info rtive">
                                                <span class="f12">玉米/500g</span>
                                                <span>
                                                    <em class="widget-price f16 red">￥100</em>
                                                    <em class="widget-price f12 gray">￥200</em>
                                                </span>
                                                <span class="widget-cart">
                                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <aside class="clear"></aside>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </section>
                    </div>
                </li>
                <!--产品参数-->
                <li class="hide info-param pd10-20">
                    <p>
                        <span>净含量</span>
                        <span>4000g</span>
                    </p>
                    <p>
                        <span>包装方式</span>
                        <span>包装</span>
                    </p>
                    <p>
                        <span>品牌</span>
                        <span>伤不起</span>
                    </p>
                    <p>
                        <span>热卖时间</span>
                        <span>1月 2月 11月 12月</span>
                    </p>
                    <p>
                        <span>产地</span>
                        <span>中国大陆</span>
                    </p>
                    <p>
                        <span>省份</span>
                        <span>四川省</span>
                    </p>
                    <p>
                        <span>城市</span>
                        <span>遂宁</span>
                    </p>
                </li>
                <!--店铺推荐-->
                <li class="hide shop-rmd">
                    <div class="divider"></div>
                    <section class="widget widget-bulk widget-bulk-two">
                        <ul>
                            <li>
                                <div class="widget-cnt">
                                    <div>
                                        <a class="wrap-block rtive" href="#">
                                            <img src="../../images/rmd.jpg" alt="">
                                        </a>
                                        <p class="widget-bulk-info rtive">
                                            <span class="f12">玉米/500g</span>
                                            <span>
                                                    <em class="widget-price f16 red">￥100</em>
                                                    <em class="widget-price f12 gray">￥200</em>
                                                </span>
                                            <span class="widget-cart">
                                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                                </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="widget-cnt">
                                    <div>
                                        <a class="wrap-block rtive" href="#">
                                            <img src="../../images/rmd.jpg" alt="">
                                        </a>
                                        <p class="widget-bulk-info rtive">
                                            <span class="f12">来自新西兰的玉米/500g</span>
                                            <span>
                                                    <em class="widget-price f16 red">￥100</em>
                                                    <em class="widget-price f12 gray">￥200</em>
                                                </span>
                                            <span class="widget-cart">
                                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                                </span>
                                        </p>
                                    </div>
                                </div>
                                <aside class="clear"></aside>
                            </li>
                            <li>
                                <div class="widget-cnt">
                                    <div>
                                        <a class="wrap-block rtive" href="#">
                                            <img src="../../images/rmd.jpg" alt="">
                                        </a>
                                        <p class="widget-bulk-info rtive">
                                            <span class="f12">来自新西兰的玉米/500g</span>
                                            <span>
                                                    <em class="widget-price f16 red">￥100</em>
                                                    <em class="widget-price f12 gray">￥200</em>
                                                </span>
                                            <span class="widget-cart">
                                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                                </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="widget-cnt">
                                    <div>
                                        <a class="wrap-block rtive" href="#">
                                            <img src="../../images/rmd.jpg" alt="">
                                        </a>
                                        <p class="widget-bulk-info rtive">
                                            <span class="f12">玉米/500g</span>
                                            <span>
                                                    <em class="widget-price f16 red">￥100</em>
                                                    <em class="widget-price f12 gray">￥200</em>
                                                </span>
                                            <span class="widget-cart">
                                                    <i class="iconfont icon-gouwuchetianjia f20 white"></i>
                                                </span>
                                        </p>
                                    </div>
                                </div>
                                <aside class="clear"></aside>
                            </li>
                            <div class="clear"></div>
                        </ul>
                    </section>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="divider"></div>
        </section>
    </section>
    <div class="divider divider5"></div>
    <!-- ENDS MAIN -->
    <footer class="footer">
        <ul>
            <li>
                <a class="selected" href="../../index.html">
                    <p><i class="iconfont icon-shouye"></i></p>
                    <p><span>首页</span></p>
                </a>
            </li>
            <li>
                <a href="">
                    <p><i class="iconfont icon-gouwuche"></i></p>
                    <p><span>购物车</span></p>
                </a>
            </li>
            <li>
                <a href="">
                    <p><i class="iconfont icon-jushoucang"></i></p>
                    <p><span>收藏</span></p>
                </a>
            </li>
            <li class="bg-orange">
                <a href="" class="white">
                    加入购物车
                </a>
            </li>
            <li class="bg-red">
                <a href="" class="white">
                    立即购买
                </a>
            </li>
        </ul>
    </footer>
    <!--弹出层 足迹-->
    <div class="shade hide">
        <section class="track black rtive tran1">
            <p class="track-title f16">我的足迹(2/20)</p>
            <ul class="track-cnt abte black">
                <li>
                    <div class="track-detail tran05">
                        <p><img src="../../images/detail_0.jpg"></p>
                        <p><span class="block text-clip">华秧安岳黄柠檬新鲜水果二三级皮薄柠檬切片泡茶榨汁酸味十足4斤</span></p>
                        <p class="orange f24">￥200</p>
                    </div>
                    <div class="track-shade tran05"></div>
                </li>
                <li>
                    <div class="track-detail tran05">
                        <p><img src="../../images/detail_0.jpg"></p>
                        <p><span class="block text-clip">华秧安岳黄柠檬新鲜水果二三级皮薄柠檬切片泡茶榨汁酸味十足4斤</span></p>
                        <p class="orange f24">￥200</p>
                    </div>
                    <div class="track-shade tran05"></div>
                </li>
                <li>
                    <div class="track-detail tran05">
                        <p><img src="../../images/detail_0.jpg"></p>
                        <p><span class="block text-clip">华秧安岳黄柠檬新鲜水果二三级皮薄柠檬切片泡茶榨汁酸味十足4斤</span></p>
                        <p class="orange f24">￥200</p>
                    </div>
                    <div class="track-shade tran05"></div>
                </li>
                <li>
                    <div class="track-detail tran05">
                        <p><img src="../../images/detail_0.jpg"></p>
                        <p><span class="block text-clip">华秧安岳黄柠檬新鲜水果二三级皮薄柠檬切片泡茶榨汁酸味十足4斤</span></p>
                        <p class="orange f24">￥200</p>
                    </div>
                    <div class="track-shade tran05"></div>
                </li>
            </ul>
        </section>
    </div>
    <!--弹出层 购买-->
    <div class="shade shade-darker hide">
        <section class="action abte tran1">
            <div class="action-header">
                <div class="rtive">
                    <img src="../../images/detail_0.jpg" alt="">
                </div>
                <div>
                    <p class="orange f24"><span class="f16">￥</span>250</p>
                    <p class="gray f12">库存2017件</p>
                </div>
            </div>
            <div class="">
                <!--此处不同的商品内容不同-->
            </div>
            <!--购买数量-->
            <div class="action-count pd10">
                <span class="fl">购买数量</span>
                <span class="f16 fr">
                    <i class="iconfont icon-jianhao disable"></i>
                    <i class="buy-num">2</i>
                    <i class="iconfont icon-jiahao1 light-gray"></i>
                </span>
            </div>
            <ul class="action-btn white abte">
                <li class="bg-orange">加入购物车</li>
                <li class="bg-red">立即购买</li>
                <li class="confirm bg-red">确认</li>
            </ul>
        </section>
    </div>
    <!--弹出层 图片查看器-->
    <div class="shade shade-darkest hide">
        <section class="viewer">
            <ul class="viewer-content">
                <li><img src="../../images/detail_0.jpg"></li>
                <li><img src="../../images/detail_1.jpg"></li>
                <li><img src="../../images/detail_2.jpg"></li>
                <li><img src="../../images/detail_3.jpg"></li>
                <li><img src="../../images/detail_2.jpg"></li>
                <div class="clear"></div>
            </ul>
            <ul class="viewer-indicators">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li class="selected"></li>
            </ul>
        </section>
    </div>
</body>

</html>