<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>管理中心 - 南山网</title>
    <link rel="stylesheet" media="all" href="../../css/font.css" />
    <link rel="stylesheet" media="all" href="../../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="setup">
    <ul class="top pd10 bg-orange white">
        <li class="back"><i class="iconfont icon-xiangzuojiantou f18"></i></li>
        <li></li>
        <li class="title">
            管理中心
        </li>
    </ul>
    <div class="divider divider5"></div>
    <!-- MAIN -->
    <section class="main">
        <section class="sect sect-list">
            <ul class="sect-cnt">
                <li>
                    <span class="sect-cnt-icon">
                        <i class="iconfont icon-shichang red"></i>
                    </span>
                    <span class="sect-cnt-name">商城订单</span>
                    <span class="sect-cnt-more fr">
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </span>
                </li>
                <li>
                    <span class="sect-cnt-icon">
                        <i class="iconfont icon-shichang red"></i>
                    </span>
                    <span class="sect-cnt-name">商城订单</span>
                    <span class="sect-cnt-more fr">
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </span>
                </li>
                <li>
                    <span class="sect-cnt-icon">
                        <i class="iconfont icon-shichang red"></i>
                    </span>
                    <span class="sect-cnt-name">商城订单</span>
                    <span class="sect-cnt-more fr">
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </span>
                </li>
                <li>
                    <span class="sect-cnt-icon">
                        <i class="iconfont icon-shichang red"></i>
                    </span>
                    <span class="sect-cnt-name">商城订单</span>
                    <span class="sect-cnt-more fr">
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </span>
                </li>
            </ul>
        </section>
    </section>
    <!-- ENDS MAIN -->
    <footer class="footer pd10">
        <ul><li class="white">退出当前用户</li></ul>
    </footer>
</body>

</html>