<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>用户中心 - 南山网</title>
    <link rel="stylesheet" media="all" href="../../css/font.css" />
    <link rel="stylesheet" media="all" href="../../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="zone">
    <ul class="top pd10 bg-orange white">
        <li class="back"><i class="iconfont icon-xiangzuojiantou f18"></i></li>
        <li>
            <a class="block white" href="">
                <i class="iconfont icon-xiaoxizhongxin"></i>
            </a>
            <a class="block white" href="">
                <i class="iconfont icon-shezhi"></i>
            </a>
        </li>
        <li class="title">
            会员中心
        </li>
    </ul>
    <!-- MAIN -->
    <section class="main">
        <header class="header bg-orange pd10-0">
            <ul class="user-info">
                <li>
                    <img class="user-avatar" src="../../images/avatar.gif" alt="">
                </li>
                <li class="white">
                    <p class="pd10-0">唐僧从不用飘柔</p>
                    <p>13409887772</p>
                </li>
            </ul>
        </header>
        <section class="sect sect-4">
            <p class="sect-title pd10"><i class="iconfont icon-wodedingdan"></i><span>&nbsp;我的订单</span><a class="fr f12" href="#">全部订单&gt;</a></p>
            <ul class="sect-cnt f12">
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-daifukuan gray"></i>
                    </p>
                    <p class="sect-cnt-name">待付款</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-icon077 gray"></i>
                    </p>
                    <p class="sect-cnt-name">待发货</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-daishouhuo gray"></i>
                    </p>
                    <p class="sect-cnt-name">待收货</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-daipingjia gray"></i>
                    </p>
                    <p class="sect-cnt-name">待评价</p>
                </li>
                <div class="clear"></div>
            </ul>
        </section>
        <section class="sect">
            <p class="sect-title pd10"><i class="iconfont icon-gongju"></i><span>&nbsp;常用工具</span></p>
            <ul class="sect-cnt f12">
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-jushoucang red"></i>
                    </p>
                    <p class="sect-cnt-name">商品收藏</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-shoucang red"></i>
                    </p>
                    <p class="sect-cnt-name">店铺收藏</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-zuji red"></i>
                    </p>
                    <p class="sect-cnt-name">我的足迹</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-yiguanzhu green"></i>
                    </p>
                    <p class="sect-cnt-name">关注商家</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-youhuiquan orange"></i>
                    </p>
                    <p class="sect-cnt-name">优惠券</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-2 red"></i>
                    </p>
                    <p class="sect-cnt-name">我是商家</p>
                </li>
                <li>
                    <p class="sect-cnt-icon">
                        <i class="iconfont icon-jifen red"></i>
                    </p>
                    <p class="sect-cnt-name">我的积分</p>
                </li>
                <div class="clear"></div>
            </ul>
        </section>
        <section class="sect sect-list">
            <p class="sect-title pd10 hide"><i class="iconfont icon-wodedingdan"></i><span>&nbsp;我的订单</span></p>
            <ul class="sect-cnt">
                <li>
                    <span class="sect-cnt-icon">
                        <i class="iconfont icon-shichang red"></i>
                    </span>
                    <span class="sect-cnt-name">商城订单</span>
                    <span class="sect-cnt-more fr">
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </span>
                </li>
                <li>
                    <span class="sect-cnt-icon">
                        <i class="iconfont icon-shichang red"></i>
                    </span>
                    <span class="sect-cnt-name">商城订单</span>
                    <span class="sect-cnt-more fr">
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </span>
                </li>
                <li>
                    <span class="sect-cnt-icon">
                        <i class="iconfont icon-shichang red"></i>
                    </span>
                    <span class="sect-cnt-name">商城订单</span>
                    <span class="sect-cnt-more fr">
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </span>
                </li>
                <li>
                    <span class="sect-cnt-icon">
                        <i class="iconfont icon-shichang red"></i>
                    </span>
                    <span class="sect-cnt-name">商城订单</span>
                    <span class="sect-cnt-more fr">
                        <i class="iconfont icon-xiangyoujiantou"></i>
                    </span>
                </li>
            </ul>
        </section>
    </section>
    <div class="divider"></div>
    <div class="divider divider5"></div>
    <!-- ENDS MAIN -->
    <footer class="footer pd10">
        <ul>
            <li>
                <a href="../../index.html">
                    <p><i class="iconfont icon-shouye f2"></i></p>
                    <p><span>首页</span></p>
                </a>
            </li>
            <li>
                <a href="">
                    <p><i class="iconfont icon-fenlei"></i></p>
                    <p><span>分类</span></p>
                </a>
            </li>
            <li>
                <a href="">
                    <p><i class="iconfont icon-gouwuche"></i></p>
                    <p><span>购物车</span></p>
                </a>
            </li>
            <li>
                <a class="selected" href="">
                    <p><i class="iconfont icon-gerenzhongxin"></i></p>
                    <p><span>个人中心</span></p>
                </a>
            </li>
        </ul>
    </footer>
</body>

</html>